<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html data-ng-app="Fish">
    <head>

        <script src="js/angular.js" type="text/javascript"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div ng-controller="FishController">   
            <input type="text" data-ng-model="fishSpecies"/>
            <input type="text" data-ng-model="lake"/>        
                        
            <ul>
            <li data-ng-repeat="catch in catches">{{catch.lake}}</li>
            </ul>
        </div>
        
        <script>
            var Fish=angular.module('Fish',[]);
            Fish.controller('FishController', function ($scopeData){
            $scopeData.catches=[
        {fishSpecies:'salmon', lake:'Järvi' },
        {fishSpecies:'herring', lake:'OtherJärvi' }
    ];
    
});

        </script>
    </body>
</html>
